@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/

header {
  background-color: #003366;
}

header .wrapper {
  width: 84%;
  padding-top: 8px;
  padding-bottom: 13px;
  margin-bottom: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

header h1 {
  margin-right: 66px;
}

nav {
  width: 76.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

nav .burger {
  display: none;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

nav li {    
  margin-right: 28px;
}

nav a {
  padding-top: 10px;
  padding-bottom: 8px;
  color:#a6b6c5;
  font-size: 15px;
  font-family: 'Heebo', sans-serif;
  text-transform: capitalize;
}

nav li a.active {
  color: #fff;
  font-weight: bold;
}

nav li a:hover {
  color: #fff;
}

.liveNews-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.liveNews-circle .dot,.dot {
  margin-right: 3px;
  border-radius: 50px;
  width: 26px;
  height: 26px;
  display: block;
  background-color: #e02020;
  opacity: 20%;
}



.liveNews-circle ::before,.live-news-header h3::before{
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 100%;
  background: #e02020;
  opacity: 30%;
  position: absolute;
  top: 50%;
  left: 13%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.liveNews-circle ::after,.live-news-header h3::after {
  content: "";
  width: 6px;
  height: 6px;
  display: block;
  border-radius: 100%;
  background: #e02020;
  opacity: 100%;
  position: absolute;
  top: 50%;
  left: 13%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

.body-divider .wrapper {
  width: 84%;
  margin-bottom: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;    
  -ms-flex-wrap: wrap;    
  flex-wrap: wrap;
}

.left-body_divider {
  margin-right: 19px;
  -ms-flex-preferred-size: 67.3%;
  flex-basis: 67.3%;
}

.covid-update .wrapper {
  width: 100%;
}

.covid-update .covid-update_header,.live-news-header h3 {
  padding: 6px 8px;
  margin-bottom: 18px;
  border-bottom: 1px solid #e2ebf4;
  background-color: #f6f8fa;
  color: #333333;
  letter-spacing: 0.23px;
  font-family: 'Heebo';
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 22px;
}

.covid-update_selection {
  margin-bottom: 14px;
}

.right-body_divider {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}

.form-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-divider li:first-child {
  -ms-flex-preferred-size: 49%;
  flex-basis: 49%;
  margin-right: calc(3% - 16px);
}

.form-divider li{
  -ms-flex-preferred-size: 49%;
  flex-basis: 49%;
}

.form-divider li select {
  width: 100%;
  padding: 7px 15px;
  border: 1px solid #e2ebf4;
  border-radius: 0px;
  background: url(../images/svg-1.png) no-repeat right;
  -webkit-appearance: none;
  background-position-x: 337px;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #777777;
}

#city {
  border: 2px solid #0091ff;
  text-transform: uppercase;
}

.information-card {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
 -ms-flex-wrap: wrap;
  flex-wrap: wrap;
 -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.information-card  li {
  padding: 15px 30px;
  border: 1px solid #e2ebf4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 24%;
  flex-basis: 24%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.information-card  li figure {
  margin-right: 7%;
  margin-bottom: 7px;
  -ms-flex-preferred-size: 19%;
  flex-basis: 19%;
}

.information-card_title {
  -ms-flex-preferred-size: 74%;
  flex-basis: 74%;
}

.information-card  li:not(:last-of-type) {
  margin-right: calc(3% - 11px);
}

.information-card_title p {
  color: #868686;
  font-size: 14px;
  font-family: 'Heebo';
  text-transform: capitalize;
  line-height: 22px;
  letter-spacing: 0.18px;
}

.information-card_title h3 {
  color: #333333;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0;
}

/* top news styling start here */

.top-news-header {
  padding: 6px 8px;
  margin-bottom: 14px;
  border-bottom: 1px solid #e2ebf4;
  background-color: #f6f8fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;color: #333333;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0;
}

.top-news-header h3 {
  color: #333333;
  font-family: 'Heebo';
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 0.23px;
}

.top-news-header .arrows {
  margin-right: 8px;
  margin-left: auto;
}

.arrows li:first-of-type {
  margin-right: 8px;
}

.news-body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.news-body-content li {
  -ms-flex-preferred-size: 48.6%;
  flex-basis: 48.6%;
  margin-bottom: 22px;
}

.news-body-content li:not(:nth-child(2n)) {
  margin-right: calc(3% - 2px);
}

.news-card {
  position: relative;
}

.news_card-badge {
  padding: 4px 21px;
  background-color: #003366;
  position: absolute;
  top: 0px;
  right: 0px;
}

.news_card-badge span {
  color: #fff;
  font-size: 14px;
  display: block;
  text-transform: uppercase;
  text-align: center;
  line-height: 22px;
  letter-spacing: 1px;
}

.news-card figure {
  margin-bottom: 14px;
}

.news_card-header {
  margin-bottom: 5px;
  color: #333;
  font-family: 'Heebo';
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.news_card-subcontent {
  font-family: 'Heebo';
  font-size: 14px;
  color: #777;
  line-height: 20px;
}

.sub-news-content {
  margin-bottom: 10px;
}

.sub-news_tabs {
  margin-bottom: 20px;
  border-bottom: 1px solid #e2ebf4;
}

.sub-news-content .tab_active {
  display: block;
}

.sub-news_tabs li:not(:last-of-type) {
  margin-right: 4%;
}

.sub-news_tabs li a {
  padding-bottom: 3px;
  color: #5b5b5b;
  font-family: 'Heebo';
  font-size:14px;
  line-height: 22px;
  letter-spacing: 0.18px;
  text-transform: capitalize;
}

.sub-news_tabs li a.active {
  border-bottom: 4px solid #0091ff;
  color: #333333;
  font-weight: 700;
}

.tab_content_news-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tab_content_news-body li {
  -ms-flex-preferred-size: 45.9%;
  flex-basis: 45.9%;
}

.tab_content_news-body li:not(:last-of-type) {
  margin-right: calc(3.1% - 2px);
}

.tab_content_news-body .sub_news-card {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f6f8fa;
}

.tab_content_news-body .sub_news-card.active .news_card-header{
  text-decoration: underline;
}

.sub_news-card figure {
  margin-bottom: 15px;
}

.news-card-content {
  padding: 0 10px 9px 10px ;
  padding-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.news-card-content figure {
  margin-bottom: 0;

}

.news-card-content .news_card-header {
  margin-bottom: 0;
}

.news-card-content a {
  margin-left: auto;
}

.tab-parent .tab_active {
  display: block;
}

.tab_content {
  display: none;
}

.top-news .ads,.ads {
  margin-bottom: 12px;
  text-align: right;
}


.top-news .ads a,.ads a {
  color: #777;
  font-family: 'Heebo';
  font-size: 12px;
  letter-spacing: 0.15px;
}

.ads {
  margin-bottom: 24px;
}
/* live news styling start here */

.live-news-header {  
  padding: 6px 10px;
  margin-bottom: 14px;
  border-bottom: 1px solid #e2ebf4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #f6f8fa;
}

.live-news-header_circle {
  margin-right: 6px;
}

.live-news-header_circle .dot{
  opacity: 5%;
}

.live-news-header h3::before {
  opacity: 20%;
}

.live-news-header h3::before,.live-news-header h3::after  {
  left: -24%;
}

.live-news-header h3{
  padding: 0;
  margin-bottom: 0;
  border-bottom: 0;
  position: relative;
  background-color: transparent;
} 

.live-news-header a {
  margin-left: auto;
  margin-right: 7px;
  color: #333;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.18px;
  font-family: 'Heebo';
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: underline;
}

.live-news_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.live-news_content li {
  -ms-flex-preferred-size: 48.5%;
  flex-basis: 48.5%;
  position: relative;
}

.live-news_content li a.active .news_card-header {
  text-decoration: underline;
}

.live-news_content li:not(:last-of-type) {
  margin-right: calc(4.1% - 10px);
}

.video_image {
  margin-bottom: 15px;
}

.play-button {
  position: absolute;
  top: 23%;
  left: 39%;
}

.overlay {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.overlay-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}
/* aside styling start here */

aside.right-body_divider .wrapper {
  width: 100%;
}

.right-body_divider h4 {
  padding-bottom: 5px;
  margin-bottom: -5px;
  border-bottom: 1px solid #e2ebf4;
  color: #333;
  font-family: 'Heebo';
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.18px;
  text-transform: capitalize;
}

.right-body_divider .line {
  width: 20%;
  margin-bottom: 9px;
  border-bottom: 4px solid #0091ff;
}

.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%; 
}

.video-banner {
  width: 100%;
  height: 100%; 
}

.video-banner-link {
  -webkit-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.video-banner-link:hover {
  opacity: 0.8; 
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.85);
 }

.modal-video-container {
  position: absolute;
  top: 10%;
  left: 15%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  width: 0;
  height: 0%;
  padding-top: 56.25%;
  -webkit-transition: all 1.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 1.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 1.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}

.video-popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 70%;
  height: 70%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
 }

 .close {
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 999;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
 }

.close > span {
  position: absolute;
  left: 95%;
  top: 50%; 
}

.news_list li {
  margin-bottom: 14px;
}

.news_list li:last-of-type {
  margin-bottom: 2px;
}

.news_list li:last-of-type a {
  padding-bottom: 6px;  
}

.news_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.news_list li figure {
  -ms-flex-preferred-size: 29%;
  flex-basis: 29%;
  margin-right: 10px;
}

.news_list li a{ 
  padding-bottom: 15px;
  -ms-flex-preferred-size: 67%;
  flex-basis: 67%;
}

.news_list li:not(:last-of-type){
  border-bottom: 1px solid #e2ebf4;
}

.news_list li a figure {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  margin-right: 10px;
}

.news_list li a.active p {
  text-decoration: underline;
}

.news_list li a p {
  -ms-flex-preferred-size: 67%;
  flex-basis: 67%;
  color: #333;
  font-family: 'Heebo';
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.right-body_divider .ads {
  margin-bottom: 4px;
  text-align: right;
}

.right-body_divider .ads a {
  color: #777;
  font-family: 'Heebo';
  font-size: 12px;
  letter-spacing: 0.15px;
}

.aside_image {
  padding: 20px;
  margin-bottom: 23px;
}

.see-also_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.see-also_list li a{
  padding: 20px;
}

.see-also_list li:not(:last-of-type) {
  border-bottom: 1px solid #e2ebf4;
}

.see-also_list li a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 16px;
  color: #0b0a0a;
  font-family: 'Heebo';
}

.see-also_list li a.active {
  color: #0091ff;
  text-decoration: underline;
  font-weight: 800;
}

.see-also_list li a span {
  margin-right: 12px
}

.see-also_list li a figure {
  margin-left: auto;
}

/*Information div styling start here*/

.information .wrapper {
  width: 67%;
  text-align: center;
}

.information .wrapper p{
  margin-right: 10%;
  margin-bottom: 15px;
  color: #777;
  font-family: 'Heebo';
  font-size: 12px;
  text-align: center;
  line-height: 16px;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

footer {
  background-color:#003366;
}

.footer-content .wrapper {
  padding: 9px 0;
  width: 84%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer_logo {
  width: 13%;
}

.footer-content_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
 -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-content_list li a {
  padding: 0px 8px;
  color: #afbcc8;
  font-size: 12px;
  text-align: right;
  text-transform: capitalize;
}

.footer-content_list li a.active,.footer-content_list li a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-content_list li:not(:last-of-type) a {
  border-right: 1px solid #afbcc8;
}

.footer-content_list li:last-of-type a {
  padding-right: 0;
}


.top {
  display: none;
  position: fixed;
  bottom: 105px;
  right: 105px;
  background-color: #0091ff;
  border-radius: 100%;
  height: 63px;
  width: 63px;
}

.top  a {
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.top figure {
  margin-bottom: 5px;
}

.top span {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14.5px;
  text-transform: uppercase;
}

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/

/*media query for 1200px starts here*/
@media only screen and (max-width: 1200px) {
  header h1 {
    margin-right: 18px;
  }

  nav {
    width: 75.3%;
  }

  nav li {
    margin-right: 12px;
  }
  nav a {
    font-size: 13px;
  }

  .information-card li {
    -ms-flex-preferred-size: 21%;
    flex-basis: 21%;
  }

  .information-card li figure {
    margin-right: 4%;
    -ms-flex-preferred-size: 41%;
    flex-basis: 41%;
  }

  .information-card_title {
      -ms-flex-preferred-size: 51%;
      flex-basis: 51%;
  }

  .information-card_title p {
    font-size: 11px;
  }

  .information-card_title h3 {
    font-size: 30px;
  }

  .tab_content_news-body li:not(:last-of-type) {
    margin-right: calc(2.1% - 2px);
  }
  .modal-video-container {
    top: 10%; 
  } 

  .news_list li a p {
    font-size: 13px;
  }

  .see-also_list li a {
    padding: 15px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 1024px) {

  header h1 {
    margin-right: 10px;
  }

  nav {
    width: 74.3%;
  }

  nav li {
    margin-right: 8px;
  }

  .tab_content_news-body li:not(:last-of-type) {
    margin-right: calc(1.1% - 0px);
  }
  .video-popup {
    width: 85%;
    height: 85%; 
  }

  .modal-video-container {
    left: 7%; 
  } 
}


/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  .burger {
    display: block;
    order: 3;
  }

  nav .menu {
    display: block;
    text-align: left;
    padding: 10px 8%;
  }

  nav .menu,.liveNews-circle {
    padding: 5px 8%;
  }

  nav li {
    display: block;
  }

  .active-nav {
    display: block;
    height: 100vh;
  }

  .active-hamburger .first {
    background: #fff;
    -webkit-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
  }

  .active-hamburger .second {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .active-hamburger .third {
    background-color: #fff;
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
  }

  nav {
    display: none;
    z-index: 100;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #003366;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    text-align: center;
  }
  
  .first, .second, .third {
    display: block;
    width: 35px;
    height: 5px;
    margin: 4px 0px;
    background-color: #fff;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    border-radius: 10px;
  }

  .liveNews-circle {
    margin-left: auto;
    margin-right: 5%;
  }

  .body-divider .wrapper {
    display: block;
  }

  .form-divider {
    display: block;
  }

  .form-divider li {
    margin-bottom: 10px;
    display: block;  
  }

  .form-divider li select {
    background-position-x: 218px;
    -webkit-appearance: auto;
    background: none;
  }

  .news-body-content li:not(:nth-child(2n)) {
    margin-right: calc(3.1% - 3px);
  }

  .news_card-header {
    font-size: 15px;
  }

  .tab_content_news-body li:not(:last-of-type) {
    margin-right: calc(0.9% - 0px);
  }

  .play-button {
    top: 16%;
    left: 30%;
  }

  .modal-video-container {
    top: 10%; 
  }
  
  .news_list li a {
    -ms-flex-preferred-size: 66%;
    flex-basis: 66%;
  }

  .news_list li a p {
    font-size: 12px;
  }

  .see-also_list li a {
    padding: 13px;
    font-size: 14px;
  }

  .liveNews-circle ::before {
    top: 49%;
    left: 9.8%;
  }

  .livenews {
    margin-bottom: 20px;
  }

  .liveNews-circle ::after {
    top:49%;
    left: 9.8%;
  }

  .right-body_divider .line {
    width: 10%;
    margin-bottom: 20px;
  }

  .news_list li{
    padding: 10px 0px;
  }

  .news_list li figure {
    margin-right: 20px;
    -ms-flex-preferred-size: 18%;
    flex-basis: 18%;
  }
}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {

  header .wrapper {
    margin-bottom: 20px;
  }

  .active-nav {
    display: block;
    height: 100vh;
  }

  .liveNews-circle ::before,.liveNews-circle ::after {
    left: 12.8%;
  }

  .left-body_divider {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .information-card {
    display: block;
  }

  .information-card li {
    margin-bottom: 20px;
  }

  .information-card li figure {
    margin-bottom: 0;
    -ms-flex-preferred-size: 26%;
    flex-basis: 26%;
  }

  .information-card_title {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .information-card_title p {
    font-size: 15px;
  }

  .news_card-header {
    font-size: 13px;
  }

  .news-body-content {
    display: block;
  }

  .tab_content_news-body {
    display: block;
  }

  .live-news_content {
    display: block;
  }

  .information .wrapper {
    width: 100%;
  }

  .information .wrapper p {
    margin-right: 0;
    padding: 10px;
  }

  .footer-content .wrapper {
    display: block;
  }

  .footer_logo {
   width: 100%;
   margin-bottom: 10px;
  }

  .footer-content_list {
    display: block;
  }

  .footer-content_list li {
    padding: 7px;
  }

  .top {
    right: 10px;
  }
}

